<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <div th:replace="fragments/header :: header">
    </div>
    <form action="#" th:action="@{/openAcc}" th:object="${openAccount}" method="post">
    <label>Mr.<input type="radio" th:field="*{title}" value="Mr."/></label>
    <label>Mrs.<input type="radio" th:field="*{title}" value="Mrs."/>
    <label>First Name<input type="text" th:field="*{firstname}"/>
    <label>Middle Name<input type="text" th:field="*{middlename}"/>
    <label>Last Name<input type="text" th:field="*{lastname}"/>
    <label>Father's Name<input type="text" th:field="*{fathersname}"/>
    <label>Mobile<input type="number" th:field="*{mobile}"/>
    <label>Email Id<input type="email" th:field="*{email}"/>
    <label>Aadhar Number<input type="number" th:field="*{aadhar}"/>
    <label>Date Of Birth<input type="date" th:field="*{dob}"/>
    <label>Address<input type="text" th:field="*{address}"/>
    <label>City<input type="text" th:field="*{city}"/>
	<input type="submit" value="Submit"/>
	</form>
 </div>
 	<div th:replace="fragments/footer :: footer">&copy; 2020 The Shitty Year</div>
 </div>
</body>
</html>