<!DOCTYPE html>
<html>
  <head>
  <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
   </head>
  <body>
   <div th:replace="fragments/header :: header"></div>
    <div class="container">
      <div class="hero-unit">
        <h1>BHB</h1>
        <p>
          Welcome to the Boar's Hut Bank
        </p>
        <p>
          <a href="/signup" th:href="@{/signup}" class="btn btn-large btn-success">Sign up</a>
        </p>
      </div>
    </div>
     <div th:replace="fragments/footer :: footer">&copy;</div>
  </body>
</html>